@media only screen and (max-width: 680px) {
    #main-navbar {
        text-align:center; 
    }

    #main-navbar a.navbar-brand{
        font-size:175%;
        padding-top:0.7em;
        padding-bottom:0.25em;
    }
}
