/*CSS for displaying foldrum game page*/
body {
  background: url(/img/foldrum/mountains.jpg) no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
