img.member_picture {
    width:120px;
    height:160px;
    border: 1px solid black;
}

.member_title {
    margin-top:0;
}

.member_role {
    margin-top:0;
}

div.member_social {
    margin-top:0.25em;
}

small.member_description {

}

/* Why we set overflow hidden*/
/*https://stackoverflow.com/questions/5369954/why-is-my-divs-height-zero*/
div.member_section {
    margin-top:1em;
    overflow:hidden;
    margin-bottom:3em;
}

div.member_bio {
    display:inline;
    float:left;
    padding-left:1em;
    width:70%;
}

div.member_img {
    float:left;
    padding-left:1em;
    width:30%;
}

@media screen and (max-width: 500px) { 
    div.member_img img.member_picture{
        width:80px;
        height:108px;
    }
}
