/*CSS for displaying foldrum game page*/
img.game_img {
    width:325px;
    height:190px;
    cursor:pointer;
}

h3.game_title {
    margin:0;
}

div.game_div {
    margin-top:1em;
    margin-bottom:3em;
}

#global-navbar {
	background-color: #63060e;
	border-color: #63060e;
}

body {
	color:white;
	background-color:#110909;
	overflow-x: hidden
}

hr {
	border:6px solid;
	border-image:url('/img/foldrum/border_template.png') 6 repeat;
}

button.btn.btn-default {
	background-color:#63060e;
	border:1px solid #63060e;
	color:white;
}

button.btn.btn-default:hover{
	background-color:#3a0308;
}

/* Small features section*/
div.feature-smallsection > div.feature-img {
    border: 2px #63060e solid;
    text-align: center;
    padding-top: 10%;
}

div.feature-smallsection > div.feature-description {
    border-bottom: 2px #63060e solid;
    border-left: 2px #63060e solid;
    border-right: 2px #63060e solid;
}

img.gallery_img {
	display: block;
    border:1px solid #63060e;
}

div.gallery_element {
	cursor:pointer;
}

span.gallery_hover{
	width: 100%;
	height: 100%;
	display: block;
	overflow:hidden;
}
div.gallery_element:hover > span.gallery_hover {
    background-color:#63060e;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

div.gallery_element:hover img.gallery_img {
    opacity :0.3;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

div.gallery_element > span.glyphicon.glyphicon-zoom-in{
	opacity:0;
	font-size: 200%;
	position:relative;
	top:-111px;
	left:45.5%;
	display:inline;
}

div.gallery_element:hover > span.glyphicon.glyphicon-zoom-in {
  	opacity:1;
}

h4.modal-title {
	color:#63060e;
}

/*Animation starts for css*/
#top-banner h1, #top-banner h4 {
	opacity: 0;
}

#top-banner img.icon {
	opacity:0;
	width:200px;
	height:200px;
}

#main-description div.left-cont {
	transform: translateX(-500px);
}

#main-description div.right-cont {
	transform: translateX(1000px);
}

#mechanics-section > div{
	opacity: 0;
}

#gallery-section > div{
	opacity: 0;
}

#bottom-banner h1, #bottom-banner h4, #bottom-banner button{
	opacity: 0;
}

html {
	overflow-x: hidden;
}
