/* General css for all pages */
img.description_img {
    width:250px;
    height:350px;
    border:1px solid black;
    margin-top:2em;
    margin-left:1em;
}

div.description_right {
    margin-top:2em;
}

/* Small features section*/
div.feature-smallsection > div.feature-img {
    width: 100%;
    height: 200px;
    border: 1px black solid;
}

div.feature-smallsection > div.feature-description {
    width: 100%;
    height: 200px;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding:5%;
}

hr {
    margin-top : 5%;
    margin-bottom : 5%;
    margin-left : 15%;
    margin-right : 15%;
    border:1px #0a94bc73 solid;
}

/* Gallery Element */

div.gallery_element {
    max-width:100%;
    padding:2%;
}
img.gallery_img {
    height:200px;
    width:100%;
    border:1px solid black;
}

/* Banner element */
div.games_banner {
    overflow:hidden;
    color:white;
    height:500px;
    width:100%;
    padding-top:10%;
    padding-bottom:10%;
    padding-left:5%;
    padding-right:5%;
    background-size:cover;
    margin:0;
}

div.games_banner div.banner_content{
    
}
