/* General css for all pages */
img.description_img {
    margin-top:2em;
    width:350px;
    height:375px;
}

div.description_right {
    margin-top:5%;
}

/* Small features section*/
div.feature-smallsection > div.feature-img {
    width: 100%;
    height: 200px;
    border: 2px black solid;
}

div.feature-smallsection > div.feature-description {
    width: 100%;
    height: 300px;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    padding:5%;
}
.feature-title {
    margin-top:0.25em;
    margin-bottom:0.25em;
}

hr {
    margin-top : 5%;
    margin-bottom : 5%;
    margin-left : 15%;
    margin-right : 15%;
    border:1px #0a94bc73 solid;
}

/* Gallery Element */

div.gallery_element {
    max-width:100%;
    padding:2%;
}
img.gallery_img {
    height:200px;
    width:100%;
    border:1px solid black;
    object-fit: cover;
}
img.modal_img {
    width:100%;
    height: auto;
}

#gallery_modal > div.modal-dialog {
     margin-top: 0.5em;
}

/* Banner element */
div.games_banner {
    overflow:hidden;
    color:white;
    height:600px;
    width:100%;
    padding-top:10%;
    padding-bottom:10%;
    padding-left:5%;
    padding-right:5%;
    background-size:cover;
    margin:0;
}

div.games_banner div.banner_content{
    
}
