.video-container {
  margin:0;
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 650px; 
  overflow: hidden;
}
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: left;
  position:relative;
  top:45%;
  left:35%;
  font-size: 1.2rem;
}
#polina h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  text-align:center;
}
#polina p {
  text-align:center;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}


@media screen and (max-width: 500px) { 
  #polina {
    width:50%;
  }
}
@media screen and (max-device-width: 800px) {
  html { background: url('//demosthenes.info/assets/images/polina.jpg') #000 no-repeat center center fixed; }
  #bgvid { display: none; }
  #polina {
    width:50%;
  }
}
